<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Editor.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Persist Security Info=False;integrated security=SSPI</value>
            </setting>
            <setting name="TableSuffix" serializeAs="String">
                <value>Xx_Xx</value>
            </setting>
            <setting name="DefaultSqlProvider" serializeAs="String">
                <value>SQLNCLI.1</value>
            </setting>
            <setting name="TableNamePrefix" serializeAs="String">
                <value>Dictionary_</value>
            </setting>
            <setting name="AppIniFilename" serializeAs="String">
                <value>sdict2db_init.xml</value>
            </setting>
        </Editor.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
